.report-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  /* Optional background color */
}

.report-text {
  font-size: 27px;
  color: #00ac81;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center; /* Center the text itself */
}
